html,
body {
	background-color: rgb(209, 208, 207);
}

article {
	width: 870px;
	background-color: rgb(248, 248, 248);
}

#enca_logo {
	width: 100px;
}

article h1 {
	font-size: 50px;
	color: rgb(46, 151, 212);
}

.bold {
	font-weight: bold;
}

nav a {
	vertical-align: middle;
	text-decoration: none;
	margin-right: 20px;
	color: black;
}

nav {
	background-color: rgb(251, 253, 255);
	font-weight: bold;
}

p {
	font-size: 20px;
	margin-bottom: 22px;
}

a:hover {
	color: rgb(126, 14, 14);
}

.caption {
	margin-top: -2px;
	margin-bottom: 35px;
}

img {
	width: 100%;
}
